OUTPUT_DIRECTORY  = ./doc/base
INPUT             = 
TAGFILES          = ./doc/cmsis/cmsis.tag=../cmsis 
RECURSIVE         = YES
EXCLUDE           = ./ext ./doc

# Include base configuration
@INCLUDE = base.config

# Use README.md as mainpage
USE_MDFILE_AS_MAINPAGE = README.md

# The PROJECT_NAME tag is a single word (or a sequence of words surrounded by
# double-quotes, unless you are using Doxywizard) that should identify the
# project for which the documentation is generated. This name is used in the
# title of most generated pages and in a few other places.
# The default value is: My Project.

PROJECT_NAME           = "ARM Cortex-M4 Base"

# The PROJECT_NUMBER tag can be used to enter a project or revision number. This
# could be handy for archiving the generated documentation or if some version
# control system is used.

PROJECT_NUMBER         = 0.1

# Using the PROJECT_BRIEF tag one can provide an optional one line description
# for a project that appears at the top of each page and should give viewer a
# quick idea about the purpose of the project. Keep the description short.

PROJECT_BRIEF          =  "This project gives a good starting point for developing a bare metal embedded program on the arm cortex m3/m4."

# With the PROJECT_LOGO tag one can specify a logo or an icon that is included
# in the documentation. The maximum height of the logo should not exceed 55
# pixels and the maximum width should not exceed 200 pixels. Doxygen will copy
# the logo to the output directory.

PROJECT_LOGO           =




