# Include common configuration
@INCLUDE = ./doc/common.config

# Project spefic settings
PROJECT_NAME      = "ARM Cortex-M4 Base"
PROJECT_NUMBER    = 0.1
PROJECT_BRIEF     =  "This project gives a good starting point for developing a bare metal embedded program on the arm cortex m3/m4."

OUTPUT_DIRECTORY  = ./doc/base
INPUT             = 
TAGFILES          = ./doc/cmsis/cmsis.tag=../cmsis 
RECURSIVE         = YES
EXCLUDE           = ./ext ./doc

# Use README.md as mainpage
USE_MDFILE_AS_MAINPAGE = README.md



