# Include common configuration
@INCLUDE = ./doc/common.config

# Project spefic settings
PROJECT_NAME      = "CMSIS"
PROJECT_NUMBER    =
PROJECT_BRIEF     =  "CMSIS documentation"

OUTPUT_DIRECTORY  = ./doc/cmsis
GENERATE_TAGFILE  = ./doc/cmsis/cmsis.tag 
INPUT             = ./ext/cmsis
RECURSIVE         = YES
EXCLUDE           = ./doc



